.*~
*.*~
__pycache__                                                                                                             
.cache                                                                                                                  
*.pyc                                                                                                                   
.idea

milestone2/student_solutions/ATeamHasNoName/
milestone2/student_solutions/cs207-2016/*
milestone2/student_solutions/ecnc/*
milestone2/student_solutions/gitrdone4/*
milestone2/student_solutions/glacierscse/*
milestone2/student_solutions/jovhscript/*
milestone2/student_solutions/rubix-cube/*
milestone2/student_solutions/slac207/*
